.wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 10px;
}
.background {
    z-index: 6;
    position: absolute;
    content: '';
    background: var(--background-color);
    width: auto;
    height: auto;
}
.header {
    padding-bottom: 20px;
    font-size: 8rem;
    color: var(--primary);
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
}

.instagram-link {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--primary);
    font-family: 'Playfair Display', sans-serif;
}

.feed {
    padding-top: 106px;
    margin: 0 10%;
    width: 100%;
}

.cover {
    z-index: 100000;
    position: absolute;
    content: '';
    top: 96%;
    background: var(--background-color);
    width: 100%;
    height: 5%;
}

@media (max-width: 576px) {
    .header {
        font-size: 5rem;
    }
    .feed {
        padding-top: 60px;
    }
}
