.wrapper {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    height: 10000px;
}

.container {
    display: flex;
    max-width: 100%;
}

.content {
    flex: 1;
}

iframe#webpack-dev-server-client-overlay {
    display: none !important;
}
