.main-view {
    padding-left: 0;
    padding-right: 0;
}
.review {
    margin: 0 !important;
    height: 500px;
    width: 100%;
}
.container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
