iframe#webpack-dev-server-client-overlay {
    display: none !important;
}
.eapps-instagram-feed-posts-grid-load-more {
    background-color: var(--primary) !important;
    font-size: 2rem !important;
    padding-bottom: 4px;
    font-family: 'Toronto Playfair display', sans-serif;
}
